[Unit]
Description=Calendarium
After=network.target

[Service]
EnvironmentFile=/etc/environment
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/calendarium
ExecStart=/bin/bash -lc 'DB_USER=${DB_USER} DB_PASSWORD=${DB_PASSWORD} DB_HOST=${DB_HOST} CODEBARDS_AWS_ACCESS_KEY=${CODEBARDS_AWS_ACCESS_KEY} CODEBARDS_AWS_SECRET_KEY=${CODEBARDS_AWS_SECRET_KEY} CODEBARDS_STRIPE_KEY=${CODEBARDS_STRIPE_KEY} CODEBARDS_STRIPE_WEBHOOK_SECRET=${CODEBARDS_STRIPE_WEBHOOK_SECRET} java -Xms1g -Xmx1g -jar calendarium.jar server config.yml'
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
